/* start auth style */
.auth {
  width: 100%;
  height: 100vh;
  background: #f1f4fa;
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 1.8rem;
  background-color: var(--white);
  overflow: hidden;
}

.auth__imageBox {
  display: none;
}
.auth__image {
  width: 100%;
  height: 100%;
}

.auth__wrapper::-webkit-scrollbar {
  display: none;
}
.auth__content {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.auth__logoBox {
  margin: 2rem auto 0.5rem auto;
}
.auth__logoimg {
  max-width: 100%;
  height: 3rem;
}
.auth__title {
  color: var(--black-50);
  font-size: 1.7rem;
  margin: 1.7rem 0 2.5rem;
  width: 100%;
}
.auth__form {
  width: 100%;
  max-width: 52rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.auth__form::-webkit-scrollbar {
  display: none;
}
.auth__btn {
  display: block;
  color: var(--white);
  height: 4rem;
  border-radius: var(--border-box);
  border: none;
  outline: none;
  margin: 1rem 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  background: var(--blue);
  transition: all 0.3s;
  width: 100%;
  max-width: 52rem;
}
.auth__btn--active {
  cursor: pointer;
}
.auth__btn--active:hover {
  background: var(--blue-hover);
}
.auth__loginOptions {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}
.auth__loginOptions span {
  font-size: 1.2rem;
  color: var(--black-50);
}
.otherAccount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem 0;
}
.accountBox {
  background-color: #fafafa;
  padding: 0.5rem 1.2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  border-radius: var(--border-box);
}
.accountBox span {
  font-size: 1.2rem;
  font-weight: 600;
}
.account__image {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: var(--border-box);
}

.login__checkbox {
  display: flex;
  align-items: center;
}
.login__checkboxText {
  font-size: 1.1rem;
  color: var(--black-50);
  font-family: var(--iran-bold);
  font-weight: 500;
  margin-right: 0.5rem;
}
.login__btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 52rem;
  padding: 0 0.8rem;
  margin-bottom: 1rem;
}

.login__forget {
  color: #848484;
  border: none;
  font-size: 1.2rem;
  outline: none;
  background: transparent;
  font-family: var(--iran-bold);
}
.login__forget:hover {
  color: var(--blue);
}
.login__registerLink {
  color: var(--blue);
  padding-right: 0.7rem;
}
@media (min-width: 768px) {
  .auth {
    padding: 2rem 3rem;
  }
  .auth__wrapper {
    flex-direction: row;
  }
  .auth__imageBox {
    display: block;
    z-index: 10;
    overflow: hidden;
    flex-basis: 50%;
  }
  .auth__content {
    flex-basis: 50%;
    padding: 1rem 1rem 1.5rem 2rem;
  }
}